<a class="home-item">
  <mat-card class="home-item__phone-product">
    <img
      class="home-item__phone-image"
      [src]="laptop.imgURL"
      alt="{{ laptop.model }}"
    />
    <mat-card-header>
      <mat-card-title
        ><p class="home-item__phone-title">
          {{ getPhoneTitle() }}
        </p></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="home-item__price-container">
        <p class="phone-price">
          {{ laptop.price }}
        </p>
        <span> 99</span> $
      </div>
    </mat-card-content>
  </mat-card>
</a>
