.home-item {
  &__phone-product {
    width: 200px;
    margin: 10px;
  }
  &__phone-image {
    width: 200px;
  }
  &__phone-title {
    height: 50px;
    font-size: 15px;
    text-align: center;
  }
  &__price-container {
    text-align: center;
    color: red;
    font-weight: 500;
    .phone-price {
        display: inline-block;
        font-size: 25px;
    }
  }
}
