<div class="home-list-container">
  <h1 class="align-item-start">Mobile Phones</h1>
  <div class="phone-articles">
    <app-home-phone-item
      *ngFor="let phone of mobilePhones; let i = index"
      [phone]="phone"
      [index]="i"
    ></app-home-phone-item>
  </div>
  <h1 class="align-item-start">Laptops</h1>
  <div class="laptop-articles">
    <app-home-laptop-item
    *ngFor="let laptop of laptops; let i = index"
    [laptop]="laptop"
    [index]="i"
    ></app-home-laptop-item>
  </div>
</div>
