@import '../../../../../../../shared//styles/global-colors.scss';
.home-item-details-container {
  min-height: 90vh;
  mat-progress-spinner {
    position: absolute;
    top: 40%;
    left: 45%;
  }

  .stars {
    align-self: flex-start;
    p {
      display: inline;
      margin: 0;
      font-weight: 500;
    }

    span {
      text-decoration: underline;
    }
  }

  .general-presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    user-select: none;

    &__item-properties {
      p {
        margin: 0 auto;
        width: fit-content;
        font-weight: 500;
      }
    }

  }
}
