<div class="home-item-details-container">
  <mat-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    *ngIf="!item; else content"
  ></mat-progress-spinner>
  <ng-template #content>
    <h1>{{ title }}</h1>
    <mat-divider></mat-divider>
    <section class="general-presentation">
      <div class="general-presentation__item-images">
        <app-item-presentation
          [color]="itemColor"
          [images]="item.specs.colors"
        ></app-item-presentation>
        <p>Choose a color:</p>
        <div class="item-colors" [appSetBorderOnClick]="colorsAvailableIndex">
          <div
            class="item-color"
            (click)="onChangeColor(color.key, i)"
            *ngFor="let color of item.specs.colors | keyvalue; let i = index"
          >
            <img src="{{ color.value }}" alt="" />
            <span>{{ color.key }}</span>
          </div>
        </div>
      </div>
      <div class="general-presentation__item-details">
        <div class="stars">
          <app-stars-raiting [raiting]="item.stars"></app-stars-raiting>
          <p>{{ item.stars }}</p>
          <span> {{ item.reviews }} reviews </span>
        </div>
        <app-select-item-memory
          *ngIf="item.type === 'mobilePhones'"
          [phoneItemSpecs]="phoneSpecs"
        ></app-select-item-memory>
        <div class="benefits">
          <h4>Benefits:</h4>
          <p>
            <mat-icon
              ><span class="material-icons-outlined">
                settings_backup_restore
              </span>
            </mat-icon>
            Right of return: 30 days
          </p>
          <p>
            <mat-icon>
              <span class="material-icons-outlined"> credit_card </span>
            </mat-icon>
            Money back in 30'
          </p>
        </div>
      </div>
    </section>
  </ng-template>
</div>
