@import '../../../../../../../../shared/styles/global-colors.scss';
@import '../../../../../../../../shared/styles/shared-styles.scss';
.memory-text {
  font-weight: 500;
  margin: 10px 0;
}
.memory {
  display: flex;
  width: 200px;
  flex-wrap: wrap;

  .memory-option {
    @include storage-and-memory-buttons;
  }

  .storage-option {
    @include storage-and-memory-buttons;
  }

  .storage-option:hover {
    cursor: pointer;
  }

  .memory-option:hover {
    cursor: pointer;
  }

  .custom-border {
    border: 2px solid $custom-border;
    color: $custom-border;
    font-weight: 500;
  }
}
