@import '../../../shared/styles/global-colors.scss';
@import '../../../shared/styles/reusable-styles.scss';

.register-component {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../../assets/images/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  h1 {
    margin: 100px 0;
  }

  form {
    border: 1px solid $primary-color;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: white;
    .password-group {
      display: flex;
      flex-direction: column;
    }
    .invalid-input {
      @include warning-invalid-input-message;
      width: 250px;
      text-align: start;
    }
    .valid-input {
      color: $valid-color;
    }
    .text-danger {
      color: #a02935;
      font-size: 15px;
      span {
        position: relative;
        top: 6px;
      }
    }
    .text-success {
      color: #23923d;
      font-size: 15px;
      span {
        position: relative;
        top: 6px;
      }
    }
    button:disabled {
      cursor: not-allowed;
    }
  }
}
